In [4]:
import numpy as np
import pandas as pd

In [6]:
data=pd.read_csv('Boston.csv')

In [8]:
data.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [15]:
X= data.drop('medv',axis=1).values

numpy.ndarray

In [16]:
y=data['medv'].values

In [18]:
X_rooms=X[:,5]

In [21]:
type(X_rooms)

numpy.ndarray

In [ ]:
X_rooms=X_rooms.res