In [3]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

ModuleNotFoundError: No module named 'numpy'

In [7]:
df=pd.read_csv('emails.csv')

In [8]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [9]:
df.shape

(5172, 3002)

In [10]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [12]:
X=df.iloc[:,1:-1].values

In [13]:
y=df.iloc[:,-1].values

In [16]:

from sklearn.model_selection import train_test_split

In [39]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.4,random_state=42)

In [40]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [51]:
knn = KNeighborsClassifier(n_neighbors=8)

In [52]:
knn.fit(X,y)

KNeighborsClassifier(n_neighbors=8)

In [53]:
y_pred = knn.predict(X_test)

In [54]:
print(confusion_matrix(y_test,y_pred))

[[1362   97]
 [  92  518]]

In [55]:
print(*classification_report(y_test,y_pred))

                            p r e c i s i o n         r e c a l l     f 1 - s c o r e       s u p p o r t

                       0               0 . 9 4             0 . 9 3             0 . 9 4             1 4 5 9
                       1               0 . 8 4             0 . 8 5             0 . 8 5               6 1 0

         a c c u r a c y                                                       0 . 9 1             2 0 6 9
       m a c r o   a v g               0 . 8 9             0 . 8 9             0 . 8 9             2 0 6 9
 w e i g h t e d   a v g               0 . 9 1             0 . 9 1             0 . 9 1             2 0 6 9